ion-header {
  ion-toolbar {

    --min-height: 100px;

    ion-title {
      align-items: flex-end;

      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span {
        font-size: 22px;
      }

      ion-button {
        display: block;
      }
    }
  }
}
